*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
color:black;
}

html, body {
	height:100vh;
	width:100%;
}

@media screen and (min-width: 1024px) {
	html {
		font-size:1rem;
	}

	.container {
		width:80%;
	}

	.container-fluid {
	background: 
		url(../images/bg-left.svg) left center no-repeat,
		url(../images/bg-topright.svg) 91% 10% no-repeat,
		url(../images/bg-botleft.svg) 11% 90% no-repeat,
		url(../images/bg-botright.svg) 82% 87% no-repeat,
		url(../images/bg-right.svg) right center no-repeat;
	}

	.main-row {
		height:80vh;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	html {
		font-size:0.9rem;
	}

	.container {
		width:70%;
	}

	.container-fluid {
	background: 
		url(../images/bg-left.svg) left center no-repeat,
		url(../images/bg-topright.svg) right 10% no-repeat,
		url(../images/bg-botleft.svg) left 90% no-repeat,
		url(../images/bg-botright.svg) right 87% no-repeat,
		url(../images/bg-right.svg) right center no-repeat;
	}

	.main-row {
		height:100%;
	}
}

@media screen and (max-width: 767px) {
	html {
		font-size:0.8rem;
	}

	.container {	
		width:50%;
	}

	.container-fluid {
	background: none;
	}

	.main-row {
		height:80%;
	}
}

.container-fluid {
	background-color:#F3F5F7;
	padding-left:0;
	padding-right:0;
	min-height:100%;
	animation: bg-fade 0.4s forwards 0s ease-in;
}

.carousel {
	animation: tile-fade 0.2s forwards 0s ease-in;
}

.map {
	animation: tile-fade 0.2s forwards 0s ease-in;
}

.top-header {
	background-color:#F3F5F7;
	min-height:4rem;
	animation: anim-top 0.4s forwards 0s ease-in; 	
}

.main-header {
	background-color:#F3F5F7;
	min-height:3rem;	
}

.mini-header {
	background-color:#F3F5F7;
	width:100%;
	max-height:5rem;
	animation: anim-headers 0.4s forwards 0s ease-in;
}

.nav-header {
	background-color:#F3F5F7;
	animation: anim-headers 0.4s forwards 0s ease-in;
}

.tile {
	background-color:#FFFFFF;
	animation: tile-fade 0.2s forwards 0s ease-in;
}

.carousel-caption > h5, .carousel-caption > p {
	color:#F3F5F7;
	text-shadow: 1px 1px #04080F;
}

.nav {
	background-color:#F3F5F7;
	animation: anim-headers 0.4s forwards 0s ease-in;
}

.nav-foot {
	color:#0C131D;
}

.nav-foot-button {
	color:#F3F5F7;
}

.nav-item > .active {
	border-bottom:solid;
	border-bottom-color:#0C131D;
}


.nav li a:hover {	
	border-bottom:solid;
	border-bottom-color:#1E3048;
    color:#1E3048;
}

ul {
	list-style-type:none;
}

#active-button {
	background-color:#0C131D;
	border-color:#0C131D;	
}

.btn-secondary {
	background-color:#1E3048;
	border-color:#1E3048;
}

.input-group-text {
	background-color:#F3F5F7;
	color:#0C131D;
}

.personal-links {
	color:#000000;
}

.mini-header{
    
}

@keyframes anim-headers{
    0%{
        transform: rotate(0deg) translateY(100%);
        opacity: 0;
        }
    100%{
        transform: rotate(0deg) translateY(0%);
        opacity: 1;
        }
}

@keyframes anim-top{
    0%{
        transform: rotate(0deg) translateY(-100%);
        opacity: 0;
        }
    100%{
        transform: rotate(0deg) translateY(0%);
        opacity: 1;
        }
}

@keyframes tile-fade{
    0%{
        transform: rotate(0deg) scale(0.6) translateY(0%);
        opacity: 0;
        }
    100%{
        transform: rotate(0deg) scale(1) translateY(0%);
        opacity: 1;
        }
}

@keyframes bg-fade{
    0%{
        transform: rotate(0deg) translateY(0%);
        opacity: 0;
        }
    100%{
        transform: rotate(0deg) translateY(0%);
        opacity: 1;
        }
}