*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Fira Sans', sans-serif;
color:black;
}

html, body {
	height:100%
}

@media screen and (min-width: 767px) {
	html {
		font-size:1rem;
	}

	.container {
		width:80%;
	}
}

@media screen and (max-width: 766px) {
	html {
		font-size:0.8rem;
	}

	.container {	
		width:60%;
	}
}

.container-fluid {
	background-color:#EFEFEF;
	padding-left:0;
	padding-right:0;
	min-height:100%;
}

.mini-header {
	background-color:#EFEFEF;
	width:100%;
	max-height:5rem;
}

.nav-header {
	background-color:#706C61;
}

.col-block {
	background-color:#FFFFFF;
}

.main-header {
	background-color:#706C61;
	min-height:3rem;	
}

.top-header {
	background-color:#706C61;
	min-height:3rem;
	margin-top:10%; 	
}

.carousel-caption > h5, .carousel-caption > p {
	color:#EFEFEF;
	text-shadow: 1px 1px #04080F;
}
.nav {
	background-color:#706C61;
}

.nav-item > .active {
	border-bottom:solid;
	border-bottom-color:#EFEFEF;
}

.nav-link {
	color:#000000;
}

.nav-foot {
	color:#EFEFEF;
}

.nav li a:hover {	
	border-bottom:solid;
	border-bottom-color:#837E72;
    color:#EFEFEF;
}

ul {
	list-style-type:none;
}

.nav-button {
	color:#EFEFEF;
	background-color:#706C61;	
}

.btn-dark {
	background-color:#706C61;
	border-color:#706C61;
}

.text {	
	display:flex;
	align-items:center;
}

.input-group-text {
	background-color:#706C61;
	color:#EFEFEF;
}

.personal-links {
	color:#000000;
}