*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Fira Sans', sans-serif;
color:black;
}
	
@media screen and (min-width: 767px) {
	.text, .text-2 {
		font-size: 1em;
	}
	.text-big {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 766px) {
	.text, .text-2 {
		font-size: 0.7em;
	}
	.text-big {
		font-size: 0.8em;
	}
}

html, body {
	height:100vh;
}

.container-fluid {
	height:100vh;
}

#main-body {
	background-color:#FFFFFF;
	align-items:center;
}

#header {
	background-color:#EFEFEF;
}

.mini-header {
	background-color:#EFEFEF;
}

#mini-header-1 {
	background-color:#383961;
}

#mini-header-2 {
	background-color:#5F758E;
}

#mini-header-3 {
	background-color:#9DAA9D;
}

#mini-header-4 {
	background-color:#3B1F2B;
}

#mini-header-5 {
	background-color:#8B7F6C;
}

.carousel-caption > h5, .carousel-caption > p {
	color:#FFFFFF;
	text-shadow: 1px 1px #04080F;
}

.nav-item > .active {
	border-bottom:solid;
	border-bottom-color:#383961;
}

.nav-link {
	color:#000000;
}

.nav li a:hover {	
	border-bottom:solid;
	border-bottom-color:#EFEFEF;
    color:#383961;
}

ul {
	list-style-type:none;
}

.text {	
	display:flex;
	align-items:center;
}

.input-group-text {
	background-color:#EFEFEF;
}

.personal-links {
	color:#000000;
}